<div th:fragment="post-modal">
    <div th:id="${'postmodal' + survey.surveyId}" class="modal">
        <div class="modal-background"  th:onclick="'closeModal(\'' + ${survey.surveyId} + '\');'"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" th:text="${survey.title}"></p>
                <button th:onclick="'closeModal(\'' + ${survey.surveyId} + '\');'" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <form action="#" th:action="@{'survey/post_suggestion/' + ${survey.surveyId}}" th:object="${suggestionForm}" method="post">  
                    <div class='field'>
                        <div class='control'>
                            <input class="input" id='suggestion' th:field="*{text}" placeholder='Your suggestion...' />
                        </div>
                        <br />
                        <div class='control has-text-right'>
                            <a id='clear-button' class='button'> Clear </a>
                            <input class='button is-primary' type='submit' value='Submit' />
                        </div>
                    </div>
                </form>
                <div class="box content">
                    <ol>
                        <li th:each="choice : ${survey.suggestedChoices}">
                            <article class="post">
                                <div class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                            <span th:id="${'suggestion' + choice.id}" th:onclick="'upvote(\'' + ${choice.id} + '\');'" class=" has-text-grey-light icon"><i class="far fa-thumbs-up"></i></span>
                                            <span th:text="${choice.name + ' posted by: ' + choice.suggesterUsername}" />
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ol>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>
    <script>
    function upvote(choiceId){
        if($('#suggestion' + choiceId).hasClass('has-text-grey-light')){
            $('#suggestion' + choiceId).removeClass('has-text-grey-light');
        } else {
            $('#suggestion' + choiceId).addClass('has-text-grey-light');
        }
    }
    
    </script>
</div>

