<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kibbutz - Make Poor Decisions Together!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Welcome to Kibbutz!</h1>
    <span th:text="${status}"></span>
    <div th:if="${user.username == null}">
        <p>
           <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">     
            <p>Username: <input type="text" th:field="*{username}"/>
                Password: <input type="password" th:field="*{password}"/></p>
                <input type='submit' value='Login' />
            </form>
        </p>
        OR <a href="/sign-up"> Sign-up! </a>
    </div>
    <div th:unless="${user.username == null}">
        <a href="/user"> <p> Your Account </p> </a>
        <a href="/survey"> <h3> Post a Survey </h3> </a>
        <form class="button" th:action="@{/logout}" method="get">
            <input type="submit" value="Logout"/>
        </form>    
    </div>
    <hr></hr>
    <div>
        <h1>Results</h1>
        <p th:if="${user.username == null}"> Must be logged in to vote! </p>
        <ul>
            <li th:each="survey : ${surveys}">
                <div>
                    <p th:text="${survey.title}" />
                    <p th:text="${survey.author}" />
                    <p th:text="${survey.text}" />                        
                    <form action="#" th:action="@{'vote?id=' + ${survey.surveyId}}" th:object="${choiceForm}" method="post">
                        <li th:each="choice: ${survey.choices}">
                            <input type="radio" name="${choiceForm.choiceOne}" value= "${choice.name}" th:text="${choice.name}" />
                        </li>
                        <input th:if="${user.username != null}" type="submit" value="Vote"/>
                    </form> 
                </div>
                <br></br>
            </li>
        </ul>
    </div>
    
</body>
</html>