<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kibbutz - Post a Survey</title>
            <link rel="icon" th:href="@{/img/favicon.ico}" />

               <div th:replace="fragments/header :: header">... </div>

    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">... </div>
        <div class="container">
            <section>
                <div class="column is-8 is-offset-2">
                    <div class="card article">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title article-title">Post a Survey!</p>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <form action="#" th:action="@{survey/post}" th:object="${surveyForm}" enctype="multipart/form-data" method="post">    
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <input class = "input" type="text" th:field="*{title}" th:text="*{title}" placeholder="Title (required)"/>
                                        </div>
                                        <div class="field">
                                            <p class="control has-icons-left">
                                                <span class="select is-fullwidth">
                                                    <select th:id='dropdown' th:field="*{minutes}">
                                                        <option th:value="2">2 minutes</option>
                                                        <option th:value="5">5 minutes</option>
                                                        <option th:value="15">15 minutes</option>
                                                        <option th:value="30">30 minutes</option>
                                                        <option th:value="45">45 minutes</option>
                                                        <option th:value="60">1 hour </option>
                                                        <option th:value="1440">24 hours </option>
                                                        <option th:value="2"> custom </option>
                                                    </select>
                                                </span>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-clock"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <textarea th:field="*{text}" class="textarea" placeholder="Description" ></textarea>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" th:field="*{choiceOne}" placeholder="Option 1 (required)" /> 
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" th:field="*{choiceTwo}"  placeholder="Option 2 (required)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div id='secondRow' class="field is-horizontal is-invisible is-overlay">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" th:field="*{choiceThree}" placeholder="Option 3 (not required)" /> 
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" th:field="*{choiceFour}"  placeholder="Option 4 (not required)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p id = 'addDiv' class="article-subtitle has-text-centered"><span id="addOptions"><i class="fas fa-plus fa-xs"></i> add more options</span></p>
                                <p id='removeDiv' class="article-subtitle has-text-centered is-invisible is-overlay is-unselectable"><span id="removeOptions"><i class="fas fa-minus fa-xs"></i> remove options</span></p>
                                <div class="field">
                                    <div class="file has-name is-fullwidth">
                                        <label class="file-label">
                                            <input type="file" id="file" class="file-input" name="file" accept="image/*"></input>
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    Choose a file…
                                                </span>
                                            </span>
                                            <span id="file-name" class="file-name">
                                            </span>
                                        </label>
                                    </div>       
                                </div>

                                <div class="field ">
                                    <div class="control has-text-centered">
                                        <label class="checkbox no-padding">
                                            <input id='checkbox' type="checkbox" th:field="*{canSuggest}" />
                                            Allow the kibbutz to suggest an option.
                                        </label>
                                    </div>
                                </div>
                                <div class="field has-text-centered">
                                    <a id='clear-button' class='button'> Clear </a>
                                    <input class= "button is-primary" type='submit' value='Submit' />
                                </div>
                                <br></br>
                                <br></br>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="fragments/footer :: footer">... </div>
    </body>
    <script>
         $(document).ready(function () {
            $('#file').on("change", function(){ $('#file-name').text($('#file').val()) });
            
            $('#addOptions').click(function(){
            
                $('#secondRow').removeClass('is-invisible is-overlay');
                $('#removeDiv').removeClass('is-invisible is-overlay is-unselectable');
                $('#addDiv').addClass('is-invisible is-overlay is-unselectable');
            
            });
            
            $('#removeOptions').click(function(){
                $('#secondRow').addClass('is-invisible is-overlay');
                $('#addDiv').removeClass('is-invisible is-overlay is-unselectable');
                $('#removeDiv').addClass('is-invisible is-overlay is-unselectable');
            
            });
            
            $("#clear-button").click(function(){

                $(".input").val('');
                $("#dropdown").val(2);
                $(".textarea").val('');
                $("#checkbox").prop("checked", false);
                $("#file").val('');
                $("#file-name").text('');
            });
            
        });
        
    </script>
  
</html>